/* CSS reset below*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Start */
*{
 font-family: 'Open Sans', sans-serif;

}
body{
    background-color: #047EA6;
}
.nav-bar{
    display: flex;
    background-color: #01133F;
    min-height: fit-content;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.logo img{
    height: 120px;
    width:120px;
    margin-left: 10px;
} 
.topic-section{
    height: 100%;
}
.topic-section ul{
    display: flex;
}
.topic-section li{
    list-style: none;
    padding: 10px;
}
.topic-section li a{
    display: block;
    text-decoration: none;
    color: ghostwhite;
    font-size: 1.25em;
    border: 2px solid ghostwhite;
    border-radius: 8px;
    padding: 10px;
}
.topic-section li a:hover{
    background-color: ghostwhite;
    color: #01133F;
}
.login-section{
    height: 100%;
}
.login-section ul{
    display: flex;
    
}
.login-section  li{
    display: block;
    text-decoration: none;
    color: ghostwhite;
    border: 2px solid ghostwhite;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}
.login-section ul li:hover{
    background-color: ghostwhite;
    color: #01133F;
    cursor: pointer;
}
.logo {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
  }
  .content{
    display: flex;
    margin: 1em;
    flex-grow: 2 1;
  }
  .articles{
    width: 80%;
  }
  .article-1{
   text-align: left;
  }
  .article-1 h1,
  .article-2 h1{
    margin: 1em;
    font-size: 2.5em;
    color: ghostwhite;
    text-align: center;
  }
  .article-1,
  .article-2{
    font-size: 1em;
    line-height:normal;
    color:rgb(69, 10, 77);
  }
  .article-2{
    text-align: left;
    
  }
  .side-links{
    text-align: center;
    align-items: center;
    width: 20%;
  }
  .side-links h3{
    margin-top: 3em;
    align-items: center;
    font-size: 1.5em;
    color: ghostwhite;
  }
  .side-links li{
  margin-top: 20px;
  text-decoration: underline;
  
  }
  .side-links a{
    color: #05CAF2;
  }
  footer h5{
    margin: 2em;
    color: ghostwhite;
    font-weight: bold;
  }


  /* Hamburger menu*/
.container{
    margin: 5px;
    display: none; 
    /* above is to make it hide*/
}
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: ghostwhite;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
 



/* Media queries */

@media (max-width: 900px) {
    .nav-bar{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .logo{
        margin: 0;
        padding: 0;
    }
    .topic-section{
        display: none;
        margin: 0;
        padding: 0;
        
    }
    .topic-section ul{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .topic-section ul li{
        margin: 0;
        padding: 0;
    }
    .topic-section ul li a{
        font-size: .7em;
        margin: 1px;

    }
    .login-section{
        display: flex;
        font-size: .7em;
        font-weight: bold;
    }
    .login-section ul{
        flex-direction: row;
    }
    .login-section ul li{
        border: none;
    }
    .topic-section.active {
        display: flex;
    }
    .container{
        display: block;
    }
   
}